<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="extraoptical" translate="label" sortOrder="0">
            <label>Extraoptical</label>
        </tab>
        <section id="borrow_home" translate="label" type="text" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Borrow Home</label>
            <tab>extraoptical</tab>
            <resource>Magecom_BorrowHome::config</resource>
            <group id="borrow_home" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="free_place_image" translate="label" type="image" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Free Place Image</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
                    <upload_dir config="system/filesystem/media" scope_info="1">borrow_home</upload_dir>
                    <base_url type="media" scope_info="1">borrow_home</base_url>
                    <comment><![CDATA[This image will be used as a placeholder for empty spaces within borrow home cart. Allowed file types: jpeg, gif, png.]]></comment>
                    <validate>validate-no-empty</validate>
                </field>
            </group>
        </section>
    </system>
</config>